alembic==0.8.8
awscli==1.10.38
bcrypt==3.1.0
blinker==1.4
boto3==1.3.1
botocore==1.4.28
cffi==1.8.2
colorama==0.3.3
docutils==0.12
Flask==0.10.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-SSLify==0.1.5
Flask-User==0.6.8
Flask-WTF==0.12
futures==3.0.5
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
Mako==1.0.4
MarkupSafe==0.23
passlib==1.6.5
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
python-dateutil==2.5.3
python-editor==1.0.1
rsa==3.4.2
s3transfer==0.0.1
six==1.10.0
SQLAlchemy==1.0.15
Werkzeug==0.11.9
WTForms==2.1
