.tutorialWindow {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: white;
    border: 3px solid green;
    left: 35%;
    top: 35%;
    opacity: 1;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 5;
}

.faded {
	/*background-color: black;*/
	opacity: 0.2;
}

.borderHighlight {
	border: 3px solid green;
}