
// Row colors to highlight good, ok, poor performance
$greenSuccess: #77dd77;
$yellowOk: #fdfd96;
$orangePoor: #ffb347;
$redNeedsImprovement: #FF6961;

.resultsContainer {
	padding: 20px;
	text-align: center;
	table {
		margin: auto;
		th {
			text-align: left;
		}
	}
}


.averageScoreTable {
	width: 35%;
	text-align: center;
	th {
		text-align: center;
	}
}

.taskTable {
	width: 70%;
}

.individualTaskTable {
	width: 70%;
	td {
		.glyphicon-ok {
			color: green;
		}
		.glyphicon-remove {
			color: red;
		}
	}
}

tbody {
	#red {
		background-color: $redNeedsImprovement;
	}
	#green {
		background-color: $greenSuccess;
	}
	#orange {
		background-color: $orangePoor;
	}
	#yellow {
		background-color: $yellowOk;
	}
}