$darkBlue : #098ED0;
$darkerBlue: #205BA0;
$lightBlue : #38C6F3;
$invertedBlue: #9FDFF7;
$borderBlue: #174D9E;
$greenBlue: #3499BB;
$yellow : #F3EC29;
$disabledTextColor: #7DBEE4;
$disabledDivBGColor: #90D3F3;
$darkPink: #ED1B7F;
$pastelGreen: #77dd77;
$pastelRed: #ff6961;

$mobileWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1024px;

@mixin mobilePortrait {
	@media (max-width: #{$mobileWidth}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$tabletWidth}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktopWidth}) {
		@content;
	}
}

@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
  50% { box-shadow:0 0 16px #ea4c89, inset 0 0 14px #ea4c89; }
  100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
}

html, body {
	height: 100%;
}

/*--------------------------------------------------------
Shared elements 
--------------------------------------------------------*/

.verticalCenter {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.toolTipText {
	visibility: hidden;
	position: absolute;
	background-color: $yellow;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	color: $darkBlue;
}

.inline-block {
	display: inline-block;
}

.headerImageTextSlanted {
	position: absolute;
	width: 150px;
	height: auto;
	top: 20px;
	left: -10px;
    -webkit-transform: rotate(-15deg); /* Safari and Chrome */
    -moz-transform: rotate(-15deg);   /* Firefox */
    -ms-transform: rotate(-15deg);   /* IE 9 */
    -o-transform: rotate(-15deg);   /* Opera */
    transform: rotate(-15deg);
}

button {
	outline: none;
}


// Currently only used in viewHelper.js to "fade" elements
.black {
	background: black;
}

.navbarTop {
	height: 10%;

	h3 {
		display: inline-block;
	}

	ul {
		display: inline-block;
	}
}

.characterDiv {
	position: absolute;
	padding: 0px;
	left: 0px;
	height: 100%;
	min-height: 550px;
	width: 40%;
	pointer-events: none;
	img {
		pointer-events: none;
	}
}
.charImage {
	position: absolute;
	bottom: 0px;
	width: auto;
	height: 97%;
	@include mobile {
		height: 90%;
		max-width: 150%;
	}
}

.characterDialogueDiv {
	padding: 0;
	background-color: #0975B6;
	background: linear-gradient(to right, #39C7F4, #057FC5 50%);
	width: 100%;
	height: 25%;
	position: absolute;
	
	.dialogSlantPiece {
	  position: absolute;
	  height: 100%;
	}
	.button {
		font-size: 30px;
		color: $lightBlue;
		padding: 10px;
		line-height: 60px;
		border-radius: 10px;
		border: 1px solid $darkerBlue;
		background-color: $yellow;
		background: -webkit-radial-gradient(white 20%, $yellow); /* Safari 5.1 to 6.0 */
		background: -o-radial-gradient(white 20%, #1C90CF); /* For Opera 11.6 to 12.0 */
		background: -moz-radial-gradient(white 20%, #1C90CF); /* For Firefox 3.6 to 15 */
		background: radial-gradient(white 20%, $yellow); /* Standard syntax */
		position: absolute;
		.glyphicon-play {
			text-shadow: -2px 0 $darkBlue, 0 2px $darkBlue, 2px 0 $darkBlue, 0 -2px $darkBlue;

		}
		&:hover {
			background-color: $lightBlue;
			background: -webkit-radial-gradient($lightBlue 20%, #1C90CF); /* Safari 5.1 to 6.0 */
			background: -o-radial-gradient($lightBlue 20%, #1C90CF); /* For Opera 11.6 to 12.0 */
			background: -moz-radial-gradient($lightBlue 20%, #1C90CF); /* For Firefox 3.6 to 15 */
			background: radial-gradient($lightBlue 20%, #1C90CF); /* Standard syntax */
		}
	}
	.nextButton {
		right: 0;
		bottom: 0;
	}
	.rewindButton {
		right: 60px;
		bottom: 0;
		&:hover {
			color: $yellow;
		}
	}
}

.dialogDivInverted {
	background-image: none;
	background-color: $lightBlue;
}

.playerMenuWrapper {
	position: absolute;
	height: 100%;
	width: 4%;
	text-align: center;
	box-shadow: 2px 0px 5px black;
	background: linear-gradient(#39C7F4, #057FC5 50%);
	span {
		padding: 2px;
		font-size: 1.6vw;
		color: $yellow;
	}
}

.responseNameWrapper {
	left: 31%;
	width: 60%;

	.characterNameDiv {
		height: 50px;
		margin-left: 0px;
		font-size: 40px;
		padding: 0px 2px;
		font-weight: bold;
		color: yellow;
	}

	.characterNameDivDisabled {
		color: $disabledTextColor;
	}

	.characterTextResponse {
		position: absolute;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		width: 100%;
		min-height: 20%;
		font-size: 24px;
		color: white;
		.scenarioText {
			font-size: 20px;

			a {
				color: lightPink;

				&:hover {
					color: white;
				}
			}
		}
	}

	.characterTextResponseDisabled {
		color: $disabledTextColor;
	}
}

.gameWrapper {
	font-family: "Source Sans Pro", sans-serif;
	padding: 0px;
	background: rgba(1,1,1,0.1);
	min-height: 550px;
	height: 100%;
	min-width: 500px;
	position: relative;
	// overflow: hidden;
	.sceneBG {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		-webkit-filter: blur(3px);
		filter: blur (3px);
	}
	.bgFadeOverlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0.2;
	}
}

.icon-mic {
	font-size: 9vh;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;

}

.scenarioWindow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30%;
	min-height: 200px;
	padding: 15px;
	color: white;
	background-color: $darkBlue;
		.roboWrapper {
			vertical-align: top;
			width: 18%;
			display: inline-block;
			text-align: center;
			@include mobilePortrait {
				width: 30%;
			}
			img {
				height: 100%;
				width: 60%;
				@include mobile {
					width: 90%;
				}
			}
		}
		.scenarioTextWrapper {
			vertical-align: top;
			width: 80%;
			display: inline-block;
			@include mobilePortrait {
				width: 65%;
			}
			h3 {
				margin-top: 5px;
				@include mobilePortrait {
					font-size: 1.3em;
					margin-top: 10px;
				}
			}
			p {
				font-size: 18px;
			}		
		}
}

.feedback {
	position: absolute;
	bottom: 0;
	right: 0;
	padding : 1%;
	font-size: 4vw;
	background-color: lightgray;
	border-radius: 10px;
	z-index: 100;
	max-width: 50%;

	.feedbackImageWrapper {
		width: 20%;
		display: inline-block;
		vertical-align: top;

		img {
			width: 100%;
		}
	}

	.feedbackDiv {
		width: 70%;
		display: inline-block;
	}
	span {
		font-weight: bold;
		color: $darkBlue;
		&:hover {
			cursor: pointer;
		}
	}
}

.respondButton {
	bottom: 0;
	right: 0;
	position: absolute;
}

/*----------------------------------
CSS Related to Task List 
----------------------------------*/

.combinedTaskList {
	top: 25%;
	height: 55%;
	width: 57%;
	position: absolute;
	right: 3%;
	overflow-y: scroll;
}

.combinedTaskList::-webkit-scrollbar {
	display: none;
	// width: 1em;
	// background-color: darkgrey;
	// outline: 1px solid slategrey;
}

.taskList {
	padding-left: 15px;
	padding-bottom: 2%;
	h3 {
		color: white;
		text-shadow: 2px 2px 2px black;
		text-align: right;
	}
}

.taskDiv {
	position: relative;
	display: block;
	margin: 30px 0px;
	border-radius: 25px;
	border-style: outset;
	height: 50px;

	.taskIconDiv {
		position: absolute;
		height: 130%;
		top: -15%;
		width: auto;
		pointer-events: none;
		img {
			width: auto;
			height: 100%;
			position: absolute;
		}
		.circle {
			height: 50%;
			top: 25%;
			left: 5px;
		}
	}
	.taskText {
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		line-height: 44px;
	}

	.repeatOnDiv {
		img {
			height: 35px;
			margin-top: 10px;
			margin-left:10px;
		}
	}
}

.taskDivNormalState {
	color: #F3EC29;
	background-color: #047FC5;
	background: linear-gradient(82deg, #38C6F3, #057FC5 80%, #098ED0);
	box-shadow: 5px 5px 10px black;
	border-bottom: 3px solid $borderBlue;
	border-top: 3px solid $lightBlue;
	border-left: 1px solid $borderBlue;
	border-right: 1px solid $borderBlue;
	.taskText {
		&:hover {
			background: linear-gradient(82deg, #38C6F3, #057FC5 20%);
			border-radius: 25px;
			cursor: pointer;
		}
		&:active {
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
			border-radius: 25px;
		}
	}
}

.taskDivRepeat {
	color: #F3EC29;
	background-color: #047FC5;
	width: 250px;
	display: inline-block;
	box-shadow: 5px 5px 10px black;
	border-bottom: 3px solid $borderBlue;
	border-top: 3px solid $lightBlue;
	border-left: 1px solid $borderBlue;
	border-right: 1px solid $borderBlue;	
	.taskText {
		&:hover {
			background: #38C6F3;
			border-radius: 25px;
			cursor: pointer;
		}
		&:active {
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
			border-radius: 25px;
		}
	}
}

.taskDivActive {
	color: $darkerBlue;
	background-color: #38C6F3;
	background-image: none;
	.taskText {
	}
}

.taskDivDisabled {
	background: #214f79;
	color: #316086;
	border: none;
	&:hover {
		background: #214f79;
		color: #316086;
	}
}

.taskDivRepeatDisabled {
	background: #214f79;
	color: #316086;
	border: none;
	width: 250px;
	display: inline-block;
	&:hover {
		background: #214f79;
		color: #316086;
	}	
}

/* When user clicks task and is recording */
.taskDivMicActive {
	color: $darkerBlue;
	background-color: yellow;
	background-image: none;
	box-shadow: 5px 5px 10px yellow;
	border-bottom: 1px solid $borderBlue;
	border-top: 1px solid $lightBlue;
	border-left: 1px solid $borderBlue;
	border-right: 1px solid $borderBlue;
}

.completedTaskList {
	padding-left: 15px;
	padding-bottom: 2%;
	h3 {
		color: white;
		text-align: right;
	}
}

.inactiveLink {
    cursor: pointer;
}

.correctTask a {
	color: white;
	background-color: green;
}

.feedbackForm {
	padding: 5px;
	padding-left: 15px;
}

.taskHelpIcon {
	position: absolute;
	font-size: 2.5vw;
	right: -10%;
	top: 25%;
	border-radius: 50%;
	&:hover {
		text-decoration: none;
	}
}

.taskHelpInactive{
	background-color: #38C6F3;
	color: #057FC5;

}

.taskHelpActive {
	background-color: $darkBlue;
	color: $yellow;
	&:hover {
		background-color: $darkBlue;
		color: $yellow;
	}
}

.taskHelpDisabled {
	background: #214f79;
	color: #316086;
}

.btn-skip {
	margin-left: 15px;
	font-size: 1.5vw;
	font-weight: bold;
	border-radius: 15px;
	padding: 12px;
	box-shadow: 5px 5px 10px rgba(1,1,1,1);
}

.popover {
	.arrow {
		display: none;
	}
}

// Bottom NavBar Related CSS

.bottomNavBar {
	position: absolute;
	width: 100%;
	height: 15%;
	min-height: 100px;
	bottom: 0;
	display:table;
	padding: 0;
	.row-fluid {
		background-color: none;
		height: 100%; 
		display:table-cell; 
		vertical-align: middle;
		position: relative;

		.buttonLine {
			position: relative;
			background-color: rgba(9, 142, 208, 0.5);
			height: 40%;

			&::before {
				z-index: -1;
				opacity: 0.5;
				position: absolute;	
			}

			button {
				position: absolute;
				top: 0;
				height: 50%;
				min-height: 100px;
				min-width: 100px;
				border-radius: 50%;
				left: 1%;
				span {

				}
			}

			.coinDiv {
				position: absolute;
				left: 0;
				width: 175px;
				height: 100%;
				border-top-right-radius: 25px;
				border-bottom-right-radius: 25px;
				background-color: #194CA6;
				.coinIcon {
					height: 100px;
					width: 100px;
					top: -30px;
					position: absolute;
				}
			}

			.coinCount {
				position: absolute;
				line-height: 40px;
				color: white;
				font-weight: bold;
				margin-left: 80px;
				width: 50%;
				text-align: center;
				font-size: 25px;				
			}

			.locationText {
				margin-left: 200px;
				overflow: none;
				color: white;
				line-height: 40px;
				font-size: 20px;
				font-weight: bold;
			}

			.button {
				position: absolute;
				top: 0px;
				height: 100%;
				z-index: 6;	
				cursor: pointer;		
			}
			.repeatButton {
				right: 200px;
			}

			.repeatButtonDiv:hover .toolTipText {
				visibility: visible;
			}

			.skipButtonDiv:hover .toolTipText {
				visibility: visible;
			}


			.repeatButtonDiv .toolTipText {
				right: 200px;
				top: -40px;
			}

			.skipButtonDiv .toolTipText {
				top: -40px;
				right: 150px;
			}
			.skipButton {
				right: 150px;		
			}

			.miriIcon {
				position: absolute;
				top: -30px;
				right: 3%;
				height: 100%;
				min-height: 100px;
				z-index: 6;
			}
			.miriGlow {
				box-shadow: 0 0 20px $yellow, inset 0 0 100px $yellow;
				-webkit-animation: pulse 2s linear 1s infinite;
				border-radius: 50px 
			}
			.hintDiv {
				position: absolute;
				top: 0%;
				height: 100%;
				right: 9%;
				width: 45%;
				background-color: $invertedBlue;
				border-top-left-radius: 25px;
				border-bottom-left-radius: 25px;
				z-index: 5;

				.hintIcon {
					height:50px;
					width: 50px;
					position: relative;
					display: inline-block;

					img {
						position: absolute;
						height: 200%;
						width: 200%;
						top: -75%;
					}
				}
				.suggestNewPhraseButton {
					height: 50px;
					width: 50px;
					top: -5px;
					position: absolute; 
					text-align: center;
					border-radius: 15px;
					cursor: pointer;
					.glyphicon {
						line-height: 50px;
						font-size: 30px;
					}			
				}

				.promptSuggestNewPhraseButton {
					background: $darkerBlue;
					color: $yellow;
				}
				.confirmSuggestNewPhraseButton {
					background: $darkPink;
					background: -webkit-radial-gradient(pink, $darkPink);

					.glyphicon {
						color: yellow;
					}
				}
				.miriIconText {
					width: 70%;
					margin-left: 50px;
					margin-bottom: 0px;
					vertical-align: top;
					display: inline-block;
					line-height: 40px;
				}
				.hintText {
					font-size: 20px;
					color: $darkerBlue;
					font-weight: bold;
					.speechableSpan {
						color: #EA338B;
						border-bottom: 1px solid #EA338B;
						cursor: pointer;
					}
					.glyphicon {
						position: absolute;
						font-size: 25px;
						line-height: 40px;
					}
					.glyphicon-question-sign {
						right: 85px;
					}
					.glyphicon-remove {
						right: 50px;
						color: $darkPink;
					}
				}
			}
			.hintDivGold {
				background-color: $yellow;
				background-image: none;
			}
		}
	}
}

.taskPaused {
	background-color: $darkerBlue;
	min-height: 300px;
	padding: 5px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	color: white;
}

.menuContainer {
	position: absolute;
	width: 90%;
	height: 90%;  // Hackey rigth now, referencing wrong parent container
	left: 5%;
	z-index: 10;
	bottom: 0;
	.menuHeader {
		position: absolute;
		font-size: 50px;
		font-weight: bold;
		top: -45px;
		margin-left: 20px;
		// text-shadow: 0 0 20px black;
		color: white;
	}
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.resultsBaseContainer {
	position: absolute;
	height: 95%;
	width: 100%;
	background-color: gray;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding: 50px;
	padding-bottom: 0px;
	padding-top: 20px;
	bottom: 0px;
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, white, $lightBlue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, white, $lightBlue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, white, $lightBlue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, white, white 15%, $lightBlue); /* Standard syntax */
	.resultsHeader {
		height: 18%;
		max-height: 80px;
		.resultsCharProfile {
			position: absolute;
			top: 10px;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 10px;
			width: 80%;
			img {
				width: 75px;
				height: 75px;
				border-radius: 50px;
				display: inline-block;
				vertical-align: top;
				background-color: $darkBlue;
			}
			.textContainer {
				padding-left: 10px;
				padding-top: 10px;
				display: inline-block;
				width: 60%;
				height: 75px;
				color: $borderBlue;
				h3 {
					font-weight: 900;
				}
				h3, h4 {
					margin: 0px;
					line-height: 30px;
				}
			}
		}
	}
	.miriIcon {
		position: absolute;
		right: 15px;
		top: -45px;
		border: 5px solid #A9E6FA;
		background-color: #A9E6FA;
		border-radius: 50px;
	}
	.btnCloseResults {
		position: absolute;
		right: 0;
		top: 70px;
		background-color:gray;
	}
	.resultsTasks {
		background: $yellow; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(white, white 60%, #F8F47C); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(white, white 60%, #F8F47C); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(white, white 60%, #F8F47C); /* For Firefox 3.6 to 15 */
		background: linear-gradient(white, white 60%, #F8F47C); /* Standard syntax */
		width: 70%;
		display: inline-block;
		height: 100%;
		vertical-align: top;
		overflow-y: scroll;
		.sceneInfo {
			color: $borderBlue;
			padding-left: 16%;
			padding-right: 5%;
			h3 {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 0px;
			}
			p {
				font-style: italic;
				font-size: 15px;
				font-weight: 500;
			}
		}
		.completedTasks {
			margin-bottom: 100px;
		}
		.completedTaskContainer {
			padding-left: 12%;
			padding-right: 12%;
			width: 100%;
			padding-bottom: 4px;
			.glyphicon {
				font-size: 20px;
				color: gray;
				display: inline-block;
				margin-right: 5px;
			}
			.glyphicon-question-sign {
				color: $borderBlue;
				background-color: $lightBlue;
				border-radius: 25px;
			}
			.glyphicon-star {
				color: $yellow;
				text-shadow: -0.5px 0 $darkBlue, 0 0.5px $darkBlue, 0.5px 0 $darkBlue, 0 -0.5px $darkBlue;
			    -webkit-transform: rotate(-20deg); /* Safari and Chrome */
			    -moz-transform: rotate(-20deg);   /* Firefox */
			    -ms-transform: rotate(-20deg);   /* IE 9 */
			    -o-transform: rotate(-20deg);   /* Opera */
			    transform: rotate(-20deg);
			}
			.text {
				font-size: 20px;
				display: inline-block;
				color: $borderBlue;
			}
		}
	}
	.divSideBarContainer {
		position: absolute;
		bottom: 0;
		width: 90%;
		height: 80%;
		left: 5%;
	}
	.resultsSideBar {
		background-color: darkgrey;
		width: 30%;
		display: inline-block;
		height: 100%;
		text-align: center;
		background: $borderBlue; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient($greenBlue, $borderBlue); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($greenBlue, $borderBlue); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($greenBlue, $borderBlue); /* For Firefox 3.6 to 15 */
		background: linear-gradient($greenBlue, $borderBlue); /* Standard syntax */
		border-top-right-radius: 15px;
		h1 {
			font-weight: 900;
			font-style: italic;
			font-weight: Black;
			color: white;
		}
		.coinWrapper {
			margin: auto;
			border: 3px solid $yellow;
			background-color: $borderBlue;
			background: -webkit-linear-gradient($borderBlue 50%, $greenBlue); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient($borderBlue 50%, $greenBlue); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient($borderBlue 50%, $greenBlue); /* For Firefox 3.6 to 15 */
			background: linear-gradient($borderBlue 50%, $greenBlue); /* Standard syntax */
			border-radius: 100px;
			width: 200px;
			height: 200px;
			img {
				margin-top: 20px;
				width: 100px;
				height: 100px;
			}
			h2 {
				margin: 0px;
				font-weight: bold;
				color: white;
			}
		}
		h4 {
			color: white;
			font-weight: 100;
		}
		.buttonContainer {
			.btn {
				color: $darkPink;
				font-size: 16px;
				font-weight: bold;
				margin: 1px;
				width: 48%;
				padding: 8px 5px;
				background-color: $yellow;
				background: -webkit-linear-gradient(to right, $yellow 50%, $greenBlue); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient($borderBlue 50%, $greenBlue); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient($borderBlue 50%, $greenBlue); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to right, $yellow 60%, white); /* Standard syntax */
				box-shadow: 0 0 20px white;
				&:hover {
					background: none;
					background-color: $yellow;

				}
				.buttonText {
					vertical-align: top;
					line-height: 20px;
					font-weight: 900;
				}
			}
			.btn-replay {
				width: 44%;
			}
			.btn-map {
				width: 54%;
			}
			.glyphicon {
				line-height: 20px;
				padding-right: 5px;
				font-size: 18px;
				font-weight: bold;
			}

		}
	}
}

/*------------------------------------------
Timer Container 
------------------------------------------*/

.timerContainer {
	position: absolute;
	right: 0px;
	width: 125px;
	height: 125px;
	text-align: center;
	background-color: $lightBlue;
	border-radius: 10px;
	color: white;
	font-size: 35px;
	.glyphicon {
		vertical-align: top;
		line-height: 125px;
		margin-right: 10px;
	}
	.timeText {
		line-height: 125px;
	}
}

/*--------------------------------------------
Practice Container 
--------------------------------------------*/

$headerBlue: #61B3DB;
$themeLightBlue: #C4DBEF;
$themeYellow: #FDD870;

.practiceStartButton {
	position: absolute;
	bottom: 0px;
	width: 50px;
	right: 60px;
	.toolTipText {
		line-height:20px;
		top: -33px;
		left: -30px;
	}
}
.practiceStartButton:hover .toolTipText {
	visibility: visible;
}



.practiceContainer {
	position: absolute;
	width: 80%;
	top: 10%;
	height: 90%;
	left: 10%;
	background-color: $headerBlue;
	z-index: 100;
	border-radius: 25px 25px 0px 0px;
}
.practiceHeader {
	border-radius: 25px 25px 0px 0px;
	width: 100%;
	height: 10%;
	min-height: 75px;
	background-color: $headerBlue;
	padding-top: .25em;
	padding-right: 5em;
	padding-left: 5em;
	padding-bottom: 0;
	margin: 0px;
	font-size: 35px;
	line-height: 50px;
	text-align: right;

	.description {
		display: inline-block;
		font-size: 20px;
		text-align: right;
		font-style: italic;
		color: white;
	}
	.glyphiconWrapper {
		position: absolute;
		right: 50px;
		top: -25px;
		border-radius: 75px;
		width: 100px;
		height: 100px;
		padding: 7px;
		text-align: center;
		border: 7px solid $headerBlue;
		background-color: gray;
		.fa-bolt {
			font-size: 70px;
			display: inline;
			vertical-align: middle;
		}

	}
	.customSlant {
	    -webkit-transform: rotate(0deg); /* Safari and Chrome */
	    -moz-transform: rotate(0deg);   /* Firefox */
	    -ms-transform: rotate(0deg);   /* IE 9 */
	    -o-transform: rotate(0deg);   /* Opera */
	    transform: rotate(0deg);
	    width: 200px;
	    left:-15px;
	    top: -10px;
	    z-index: 10;
	}
}

.practiceInner {
	background-color: white;
	border-radius: 10px;
	height: 75%;
	width: 90%;
	margin: auto;
	position: relative;

}

.flashCardWrapper {
	width: 80%;
	margin: auto;
	height: 50%;
	min-height: 240px;
	padding: 1%;
	position: relative;

	.pinyinCheckBox {
		position: absolute;
		right: 5px;
		top: 0px;
	}
	h1 {
		text-align: center;
		font-weight: bold;
		font-size: 35px;

		@include tablet {
			font-size:30px;
		}
		@include mobile {
			font-size: 25px;
		}
		@include mobilePortrait {
			font-size: 20px;
		}
	}

	.flashCardComparison {
		text-align: center;
		width: 100%;
		.textWrapper {
			width: 100%;
		}
		.textLabel {
			display: inline-block;
			width: 45%;
			text-align:right;
			font-style: italic;
			margin: 0px;
			margin-right: 5px;
		}
		.flashCardCharacters {
			margin-bottom: 0px;
			margin-top: 5px;
			padding: 5px;
			display: inline-block;
			width: 50%;
			text-align: left;
		}
		.userInputCharacters {
			margin-top: 0px;
			display: inline-block;
		}
		.pinyinPrompt {
			letter-spacing: 2px;
			word-spacing: 5px;
			margin: 0px;
			margin-left: 50%;
			text-align: left;
		}
	}
	.imageWrapper {
		width: 66%;
		height: 100%;
		img {
			height: 100%;
			width: 100%;
		}
	}
}

.correctGreenBG {
	background-color: $pastelGreen;
}

.wrongRedBG {
	background-color: $pastelRed;
}

.practiceFooter {
	position: absolute;
	width: 100%;
	bottom: 5px;
	.micDiv {
		text-align: center;
		height: auto;
		text-align: center;
		margin-top: 1em;
		margin-right: 1.5em;
		margin-left: 1.5em;
		margin-bottom: 1.5em; //change from margin-bottom: 10px
		display: inline-block;
		#mic {
			margin: auto;
		    border-radius: 50%;
		    background: $headerBlue;
		    z-index: 1;
		    padding: 1%;
		    position: relative;
		    outline: none;
		    img {
		    	position: absolute;
		    	left: 0;
		    	top: 0;
		    	width: 100%;
		    	height:100%;
		    	z-index:5;
		    }
		    span {
		    	font-size: 5em;
		    	width: 100%;
		    	height: 100%;
		    	z-index: 20;
		    	position: relative;
		    }
		    &:hover {
		    	background: $themeLightBlue;
		    }
		}
		.micWrap {
			width: 100px;
			height: 100px;
			padding: 3%;
		}
		.micActive-true {
			color: $headerBlue;
			#mic {
				span {
					font-size: 8em;
				}				
			}

		}
		.micActive-false {
		    border: 3px solid $themeLightBlue;
		    span {
		    	color: $themeYellow;
		    }
		}
	}
	.btn-practice-done {
		margin-top: auto;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 1.5em; //change from margin: auto
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		min-width: 100px;
		&:hover {
			background-color: $headerBlue;
			color: $themeYellow;
			cursor: pointer;
		}

	.btn-practice-done-active {
		background-color: $themeYellow;
		color: $headerBlue;
	}

	.btn-practice-done-inactive {
		background-color: $headerBlue;
		color: white;
	}

}

.practiceButtonsWrapper {
	text-align: center;
}

.btn-round-small {
	width: 50px;
	height: 50px;
	top: 10px;
	left: 10px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	&:hover {
		background-color: $headerBlue;
		color: white;
	}

	}
	.glyphicon {
		font-size: 30px;
	}	
}

//adding active state for pinyin and speaking buttons. Stay active for entire phrase for the listen button, till unclicked for Pinyin.
.btn-round-small-active {
	border: 1px solid $themeYellow;
	background-color: $themeYellow;
	color: $headerBlue;
	&:hover {
		cursor: default;
		border: 1px solid $themeYellow;
		background-color: $themeYellow;
		color: $headerBlue;
	}
}

.btn-round-small-inactive {
	border: 1px solid $headerBlue;
	color: $headerBlue;
	background-color: white;
}


.arrow {
	text-align: center;
	width: 50px;
	line-height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	span {

		padding-top : 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		border-radius: 5px;
		display: inline-block;
		font-size:25px;
		padding: 10px;
		&:hover {
			background-color: $headerBlue;
			color: $themeYellow;
			cursor: pointer;
		}
	//adding active state for arrow buttons on click
	.arrow-true {
		background-color: $themeYellow;
		color: $headerBlue;
	}
	.arrow-false {
		color: $headerBlue;
	}
	}

}
