$darkBlue : #098ED0;
$darkerBlue: #205BA0;
$lightBlue : #38C6F3;
$invertedBlue: #9FDFF7;
$borderBlue: #174D9E;
$yellow : #F3EC29;
$disabledTextColor: #7DBEE4;
$disabledDivBGColor: #90D3F3;
$darkPink: #ED1B7F;

$mobileWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1024px;

@mixin mobilePortrait {
	@media (max-width: #{$mobileWidth}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$tabletWidth}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktopWidth}) {
		@content;
	}
}

@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
  50% { box-shadow:0 0 16px #ea4c89, inset 0 0 14px #ea4c89; }
  100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
}

.verticalCenter {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

// Currently only used in viewHelper.js to "fade" elements
.black {
	background: black;
}

.navbarTop {
	height: 10%;

	h3 {
		display: inline-block;
	}

	ul {
		display: inline-block;
	}
}

.characterDiv {
	position: absolute;
	padding: 0px;
	left: 0px;
	height: 100%;
	min-height: 550px;
	width: 40%;
	img {
		pointer-events: none;
	}
}
.charImage {
	position: absolute;
	bottom: 0px;
	width: auto;
	height: 97%;
	@include mobile {
		height: 90%;
		max-width: 150%;
	}
}

.characterDialogueDiv {
	padding: 0;
	pointer-events: none;
	background-color: #0975B6;
	background: linear-gradient(to right, #39C7F4, #057FC5 50%);
	width: 100%;
	height: 25%;
	position: absolute;
	
	.dialogSlantPiece {
	  position: absolute;
	  height: 100%;
	}
}

.dialogDivInverted {
	background-image: none;
	background-color: $lightBlue;
}

.playerMenuWrapper {
	position: absolute;
	height: 100%;
	width: 4%;
	text-align: center;
	box-shadow: 2px 0px 5px black;
	background: linear-gradient(#39C7F4, #057FC5 50%);
	span {
		padding: 2px;
		font-size: 1.6vw;
		color: $yellow;
	}
}

.responseNameWrapper {
	left: 31%;
	width: 60%;

	.characterNameDiv {
		margin-left: 0px;
		font-size: 6vh;
		padding: 0px 5px;
		font-weight: bold;
		color: #F3EC29;
	}

	.characterNameDivDisabled {
		color: $disabledTextColor;
	}

	.characterTextResponse {
		position: absolute;
		border-radius: 10px;
		width: 100%;
		min-height: 20%;
		font-size: 6vh;
		color: white;
		.scenarioText {
			font-size: 20px;
		}
	}

	.characterTextResponseDisabled {
		color: $disabledTextColor;
	}

}

.gameWrapper {
	padding: 0px;
	background: rgba(1,1,1,0.1);
	min-height: 550px;
	height: 100%;
	min-width: 500px;
	.sceneBG {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		-webkit-filter: blur(3px);
		filter: blur (3px);
	}
	.bgFadeOverlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0.2;
	}
}

.icon-mic {
	font-size: 9vh;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;

}

.scenarioWindow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30%;
	min-height: 200px;
	padding: 15px;
	color: white;
	background-color: $darkBlue;
		.roboWrapper {
			vertical-align: top;
			width: 18%;
			display: inline-block;
			text-align: center;
			@include mobilePortrait {
				width: 30%;
			}
			img {
				height: 100%;
				width: 60%;
				@include mobile {
					width: 90%;
				}
			}
		}
		.scenarioTextWrapper {
			vertical-align: top;
			width: 80%;
			display: inline-block;
			@include mobilePortrait {
				width: 65%;
			}
			h3 {
				margin-top: 5px;
				@include mobilePortrait {
					font-size: 1.3em;
					margin-top: 10px;
				}
			}
			p {
				font-size: 18px;
			}		
		}
}
/*
.scenarioWindow {
	position: absolute;
	margin-top: 10%;
	margin-left: 30%;
	padding : 15px;
	padding-top: 0%;
	width: 40%;
	background-color: white;
	border: 3px solid green;
		h3 {
			@include mobile {
				font-size: 1.3em;
				margin-top: 10px;
			}
		}

	@include mobile {
		width: 90%;
		margin-left: 5%;
	}
}*/

.feedback {
	position: absolute;
	bottom: 0;
	right: 0;
	padding : 1%;
	font-size: 4vw;
	background-color: lightgray;
	border-radius: 10px;
	z-index: 100;
	max-width: 50%;

	.feedbackImageWrapper {
		width: 20%;
		display: inline-block;
		vertical-align: top;

		img {
			width: 100%;
		}
	}

	.feedbackDiv {
		width: 70%;
		display: inline-block;
	}
	span {
		font-weight: bold;
		color: $darkBlue;
		&:hover {
			cursor: pointer;
		}
	}
}

.respondButton {
	bottom: 0;
	right: 0;
	position: absolute;
}

/*----------------------------------
CSS Related to Task List 
----------------------------------*/

.combinedTaskList {
	top: 25%;
	height: 55%;
	position: absolute;
	right: 10%;
	overflow-y: scroll;
}

.combinedTaskList::-webkit-scrollbar {
	display: none;
	// width: 1em;
	// background-color: darkgrey;
	// outline: 1px solid slategrey;
}

.taskList {
	padding-left: 15px;
	padding-bottom: 2%;
	h3 {
		color: white;
		text-shadow: 2px 2px 2px black;
		text-align: right;
	}
}

.taskDiv {
	position: relative;
	display: block;
	margin: 20px 0px;
	border-radius: 25px;
	border-style: outset;
	height: 60px;

	.taskIconDiv {
		position: absolute;
		height: 130%;
		top: -15%;
		width: auto;
		pointer-events: none;
		img {
			width: auto;
			height: 100%;
			position: absolute;
		}
	}
	.taskText {
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		line-height: 54px;
	}
}

.taskDivNormalState {
	color: #F3EC29;
	background-color: #047FC5;
	background: linear-gradient(82deg, #38C6F3, #057FC5 80%, #098ED0);
	box-shadow: 5px 5px 10px black;
	border-bottom: 3px solid $borderBlue;
	border-top: 3px solid $lightBlue;
	border-left: 1px solid $borderBlue;
	border-right: 1px solid $borderBlue;
	.taskText {
		&:hover {
			background: linear-gradient(82deg, #38C6F3, #057FC5 20%);
			border-radius: 25px;
		}
		&:active {
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
			border-radius: 25px;
		}
	}
}

.taskDivActive {
	color: $darkerBlue;
	background-color: #38C6F3;
	background-image: none;
	.taskText {
	}
}

.taskDivDisabled {
	background: #214f79;
	color: #316086;
	border: none;
	&:hover {
		background: #214f79;
		color: #316086;
	}
}
/* When user clicks task and is recording */
.taskDivMicActive {
	color: $darkerBlue;
	background-color: yellow;
	background-image: none;
	box-shadow: 5px 5px 10px yellow;
	border-bottom: 1px solid $borderBlue;
	border-top: 1px solid $lightBlue;
	border-left: 1px solid $borderBlue;
	border-right: 1px solid $borderBlue;
}

.completedTaskList {
	padding-left: 15px;
	padding-bottom: 2%;
	h3 {
		color: white;
		text-align: right;
	}
}

.inactiveLink {
    cursor: pointer;
}

.correctTask a {
	color: white;
	background-color: green;
}

.feedbackForm {
	padding: 5px;
	padding-left: 15px;
}

.taskHelpIcon {
	position: absolute;
	font-size: 2.5vw;
	right: -10%;
	top: 25%;
	border-radius: 50%;
	&:hover {
		text-decoration: none;
	}
}

.taskHelpInactive{
	background-color: #38C6F3;
	color: #057FC5;

}

.taskHelpActive {
	background-color: $darkBlue;
	color: $yellow;
	&:hover {
		background-color: $darkBlue;
		color: $yellow;
	}
}

.taskHelpDisabled {
	background: #214f79;
	color: #316086;
}

.btn-skip {
	margin-left: 15px;
	font-size: 1.5vw;
	font-weight: bold;
	border-radius: 15px;
	padding: 12px;
	box-shadow: 5px 5px 10px rgba(1,1,1,1);
}

.popover {
	.arrow {
		display: none;
	}
}

// Bottom NavBar Related CSS

.bottomNavBar {
	position: absolute;
	width: 100%;
	height: 15%;
	min-height: 100px;
	bottom: 0;
	display:table;
	padding: 0;
	.row-fluid {
		background-color: none;
		height: 100%; 
		display:table-cell; 
		vertical-align: middle;
		position: relative;

		.buttonLine {
			position: relative;
			background-color: rgba(9, 142, 208, 0.5);
			height: 40%;

			&::before {
				z-index: -1;
				opacity: 0.5;
				position: absolute;	
			}

			button {
				position: absolute;
				top: 0;
				height: 50%;
				min-height: 100px;
				min-width: 100px;
				border-radius: 50%;
				left: 1%;
				span {

				}
			}

			.coinDiv {
				position: absolute;
				left: 0;
				width: 175px;
				height: 100%;
				border-top-right-radius: 25px;
				border-bottom-right-radius: 25px;
				background-color: #194CA6;
				.coinIcon {
					height: 100px;
					width: 100px;
					top: -30px;
					position: absolute;
				}
			}

			.coinCount {
				position: absolute;
				line-height: 40px;
				color: white;
				font-weight: bold;
				margin-left: 80px;
				width: 50%;
				text-align: center;
				font-size: 25px;				
			}

			.locationText {
				margin-left: 200px;
				overflow: none;
				color: white;
				line-height: 40px;
				font-size: 20px;
				font-weight: bold;
			}

			.miriIcon {
				position: absolute;
				top: -30px;
				right: 5%;
				height: 100%;
				min-height: 100px;
				z-index: 6;
			}
			.miriGlow {
				box-shadow: 0 0 20px $yellow, inset 0 0 100px $yellow;
				-webkit-animation: pulse 2s linear 1s infinite;
				border-radius: 50px 
			}
			.hintDiv {
				position: absolute;
				top: 0%;
				height: 100%;
				right: 12%;
				width: 40%;
				background-color: $invertedBlue;
				border-top-left-radius: 25px;
				border-bottom-left-radius: 25px;
				z-index: 5;

				.hintIcon {
					height:50px;
					width: 50px;
					position: relative;
					display: inline-block;

					img {
						position: absolute;
						height: 200%;
						width: 200%;
						top: -75%;
					}
				}
				.suggestNewPhraseButton {
					height: 50px;
					width: 50px;
					top: -5px;
					position: absolute; 
					text-align: center;
					border-radius: 15px;
					cursor: pointer;
					.glyphicon {
						line-height: 50px;
						font-size: 30px;
					}			
				}

				.promptSuggestNewPhraseButton {
					background: $darkerBlue;
					color: $yellow;
				}
				.confirmSuggestNewPhraseButton {
					background: $darkPink;
					background: -webkit-radial-gradient(pink, $darkPink);

					.glyphicon {
						color: yellow;
					}
				}

				.hintText {
					margin-left: 50px;
					margin-bottom: 0px;
					vertical-align: top;
					display: inline-block;
					line-height: 40px;
					font-size: 20px;
					color: $darkerBlue;
					font-weight: bold;
					.speechableSpan {
						color: #EA338B;
						border-bottom: 1px solid #EA338B;
						cursor: pointer;
					}
				}
			}
			.hintDivGold {
				background-color: $yellow;
				background-image: none;
			}
		}
	}
}

/*----------------------------------------
Robo Help Window 
----------------------------------------*/

.helpWindow {
	position: absolute;
	width: 40%;
	height: 90%;
	left: 0;
	.roboImageWrapper {
		position: absolute;
		top: 35%;
		right: 0;
		width: 220px;
		height: 300px;
		.roboImage {
			height: 100%;
			width: 100%;
		}
		.roboSpeakIcon {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -50px;
			margin-bottom: -50px;
			width: 100px;
			height: 100px;
			opacity: 0.8;
			&:hover {
				opacity: 0.9;
			},
			&:active {
				opacity: 1.0;
			}
		}
	}

	.roboHelpTextWrapper {
		top: 5%;
		height: 35%;
		min-height: 150px;
		min-width: 80%;
		position: absolute;
		margin-left:20%;
		border: 5px solid $darkBlue;
		text-align: center;
		.header {
			width: 100%;
			background-color: $darkBlue;
			h3 {
				margin: 0;
				color: $yellow;
				padding: 5px;
			}

			.glyphicon {
				position: absolute;
				right: 0;
				color: $borderBlue;
				font-size: 15px;
				line-height: 25px;
				padding: 5px;
			}
		}
		p {
			padding: 15px;
			color: $darkBlue;
		}
		.helpText {
			font-size: 20px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

// CSS from http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css
// Demo: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/

.example-right {
  position:relative;
  margin:0;
  color:blue;
  background:#5a8f00; /* default background for browsers without gradient support */
  /* css3 */
  background-color: white;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border: 1px solid black;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
  content:"";
  position:absolute;
  bottom:-30px;
  left:70%;
  border-width:0 30px 30px 0px;
  border-style:solid;
  border-color:transparent white;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

