.navbarTop {
	height: 10%;

	h3 {
		display: inline-block;
	}

	ul {
		display: inline-block;
	}
}

.characterDiv {
	position: absolute;
	padding: 0px;
	right: 0px;
	height: 100%;
	width: 33%;
}
.charImage {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 90%;
}

.characterNameDiv {
	margin-left: 0px;
	font-size: 9vh;
	background-color: yellow;
	padding: 2%;
	padding-left: 10%;
}

.characterTextResponse {
	position: absolute;
	border-radius: 10px;
	background-color: lightgreen;
	width: 60%;
	min-height: 20%;
	left: 10%;
	top: 15%;
	padding: 3%;
	font-size: 9vh;
	text-align: center;
}

.sceneWrapper {
	height: 90%;
	/*background-image: url("../images/shanghaiAirport.jpg");*/
	background-size: cover;
	padding: 0px;
}

.sceneWrapper .sceneBG {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.icon-mic {
	font-size: 9vh;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;

}

.scenarioWindow {
	position: absolute;
	margin-top: 10%;
	margin-left: 30%;
	padding : 1%;
	padding-top: 0%;
	width: 40%;
	background-color: white;
	border: 3px solid green;
}

/*----------------------------------
CSS Related to Task List 
----------------------------------*/

.combinedTaskList {
	height: 90%;
}

.taskList {
	background-color: white;
	padding-left: 15px;
	padding-bottom: 2%;
}

.completedTaskList {
	padding-left: 15px;
	padding-bottom: 2%;
}

.inactiveLink {
    cursor: default;
	a {
	background-color: lightgray;
	color :black;
	}
}

.correctTask a {
	color: white;
	background-color: green;
}

.feedbackForm {
	padding: 5px;
	padding-left: 15px;
}