$bgColorDefault: #61B3DB;
$themeLightBlue: #C4DBEF;
$themeYellow: #FDD870;
$themeDarkBlue: #205BA0;

$mobileWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1024px;

@mixin mobile {
	@media (max-width: #{$tabletWidth}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tabletWidth}) and (max-width: #{$desktopWidth}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktopWidth}) {
		@content;
	}
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.verticalCenterIndex {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.nextArrow {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 2%;
}

// Top Landing Screen View

.landingScreen {
	background-color: $bgColorDefault;
	background-image: url('/static/images/index/bg.png');
	background-size: 100% 100%;
	height: 100%;
	min-height: 400px;
	max-height: 600px;
	padding: 0px;
	margin: 0px;
	color: white;

	.landingScreenContainer {
		text-align: center;
		width: 100%;
		h2 {
			margin: 0px;
			font-size: 75px;
		}
		p {
			color: white;
			text-shadow: 0.5px 0.5px black;
			font-size: 20px;
			width: 55%;
			margin: auto;
			@include mobile {
				font-size: 20px;
				width: 70%;
			}
		}
	}
	.btn-login {
		position: absolute;
		top: 1%;
		right: 1%;
		background-color: transparent;
		color: white;
		border: 1px solid white;
		padding: 6px 18px;
	}
	.tryDemo {
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 2%;
	}
}

.btn-signup {
	border: 2px solid white;
	font-weight: bold;
	font-size: 1.5em;
	background-color: transparent;
	margin: 1%;
	color: white;
	&:hover {
		color: $themeYellow;
		border: 2px solid $themeYellow;
	}
}

// Demo Section CSS

.demoScreen	 {
	height: 100%;
	min-height: 500px;
	max-height: 600px;
	padding: 0;
	.demoContainer {
		margin: auto;
		width: 80%;
		height: 80%;
		background-image: url("http://i.huffpost.com/gen/2159432/images/o-EMPTY-CLASSROOM-facebook.jpg");
		background-size: cover;
	}
}

.demoHeader {
	padding: 2%;
	margin: 0px;
	min-height: 75px;
	height:25%;
	position: absolute;
	width: 80%;
	background-color: $bgColorDefault;
	opacity: 0.9;
	h3 {
		padding: 0;
		margin: 0;
		color: $themeYellow;
	}
	p {
		color: white;
		font-size: 2vw;
	}
	.demoContainer {
		height: 100%;
		width: 100%;
	}
}

.demoCharContainer {
	position: absolute;
	right: 10%;
	width: 40%;
	height: 80%;
	img {
		height: 100%;
		width: 100%;
	}
}

.micWrapper {
	position: absolute;
	left: 12%;
	top: 40%;
	width: 60%;
}

.micTextPair {
    border: 1px solid black;
    display: inline-block;    
    position: relative;    
    height: 6vw;
    text-align: center;
    line-height: 6vw;
    vertical-align: middle;
}

#mic {
    min-width: 8vw;
    min-height: 8vw;
    border-radius: 50%;
    background: $bgColorDefault;
    z-index: 1;
    border: 7px solid $themeLightBlue;
    padding: 1.5% 0%;
    span {
    	font-size: 5vw;
    	width: 100%;
    	height: 100%;
    }
}
#text {
	font-size: 2vw;
	font-weight: bold;
	color: white;
    width: 80%;
    /* need to play with margin/padding adjustment
       based on your desired "gap" */
    padding-left: 40px;
    margin-left: -40px;
    /* real borders */
    border: none;
    border-radius: 5px;

    /* the inverse circle "cut" */
    background-image: -moz-radial-gradient(
        -23px 50%, /* the -23px left position varies by your "gap" */
        circle closest-corner, /* keep radius to half height */
        transparent 0, /* transparent at center */
        transparent 55px, /*transparent at edge of gap */
        black 56px, /* start circle "border" */
        grey 57px /* end circle border and begin color of rest of background */
    );
    background-color: $bgColorDefault;
    opacity: 0.9;

}


// Features Section CSS

.featuresScreen {
	min-height: 100%;
	background-color: $themeLightBlue;
	text-align: center;
	padding: 0px;

	.feature {
		margin-top: 2%;
		margin-bottom: 2%;
		width: 75%;
		min-height: 200px;
		height: 20%;
		margin-left:12.5%;
		background-color: $bgColorDefault;

		@include mobile {
			width: 95%;
			margin-left :2.5%;
			height: auto;
		}

		.featureImage {
			width: 35%;
			display: inline-block;

			@include mobile {
				width: 80%;
				height: 200px;
			}

			img {
				height: 100%;
				width: 100%;
				border: 10px solid $bgColorDefault;
			}
		}

		.featureText {
			position: relative;
			vertical-align: top;
			width: 63%;
			height: 100%;
			display: inline-block;
			text-align: left;
			background-color: $bgColorDefault;

			@include mobile {
				width: 85%;
				height: auto;
			}
			overflow: scroll;

			.textWrapper {
				height: 80%;
				overflow: scroll;
				padding-left: 2%;
				padding-right: 2%;

				@include mobile {
					height: auto;
				}
			}

			h3 {
				color: $themeDarkBlue;
				font-size: 1.5em;
				@include mobile {
					font-size: 1.3em;
					margin-top: 5px;
				}
			}

			p {
				color: white;
				margin: 0 0 5px;
				font-size: 14px;
				span {
					font-weight: bold;
					color: $themeDarkBlue;
				}
				@include mobile {
					font-size: 14px;
				}
			}

			.buttonWrapper {
				position: absolute;
				height: 20%;
				width: 100%;
				bottom: 0;
				@include mobile {
					position: static;
					height: auto;
					padding: 5px;
				}

			}

			a {
				color: $themeDarkBlue;
				background-color: $themeYellow;
				width: 20%;
				min-width: 4em;
				display: block;
				margin: auto;
			}
		}
	}

	.btn-signup-lg {
		border: 5px solid $themeYellow;
		padding : 10px;
		background-color: $bgColorDefault;
		color: $themeYellow;
		margin: 1%;
		margin-bottom: 3%;
	}
}

// CSS for link to activities demo 

.activityScreen {
	min-height: 100%;
	background-color: white;
	padding: 10px;

	h3 {
		text-align: center;
		padding: 1%;
	}

	.activityWrapper {
		width: 60%;
		margin: auto;
		padding: 10px;
		position: relative;

		h2 {
			margin-left: 25%;
		}

		.activityContent {
			min-height:150px;
			height: 33%;
			border: 5px solid $themeYellow;
			width: 100%;
			.textButtonWrapper {
				width: 70%;
				margin-left:30%;
				padding: 3%;
			}
		}

		.activityImageWrapper {
			position: absolute;
			top: 0px;
			width: 25%;
			height: 100%;
			padding-bottom: 15px;
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}


// Testimony Screen


.testimonyScreen {
	min-height: 60%;
	background-color: $bgColorDefault;

	h2 {
		color: white;
	}
	.testimonyWrapper {
		text-align: center;
		width: 70%;
		margin-left: 15%;

		.testimony {
			vertical-align: top;
			width: 35%;
			min-height: 30%;
			border: 2px solid white;
			display: inline-block;
			padding: 1%;
			margin: 3%;

			.comment {
				color: white;
				font-size: 1.1em;
				padding: 10%;
			}

			.author {
				color: $themeYellow;
				text-align: right;
				padding-right: 10%;
				p {
					text-align: right;
					padding: 0px;
					margin: 0px;
					margin-left: 50%;
					width: 50%;
				}
			}
		}

	}
}


// Signup Screen

.signupScreen {
	height: 100%;
	max-height :600px;
	text-align: center;
	display: flex;
	align-items: center;

	.signupWrapper {
		width: 70%;
		margin: auto;
		@include mobile {
			width: 85%;
		}

		h3 {
			color: $bgColorDefault;
			span {
				color: $themeLightBlue;
			}
		}
		.signupText { 
			background-color: $bgColorDefault;
			color: white;
			width: 90%;
			margin: auto;
			padding: 20px;
			border-radius: 5px;

			p {
				margin: auto;
			}
		}

		.form-inline {
			width: 70%;
			margin: auto;
			margin-top: 10px;
			margin-bottom: 10px;

			@include mobile {
				width: 90%;
			}

			.form-group {
				width: 73%;
				display: inline-block;
				
				@include mobile {
					width: 60%;
				}

				input {
					width: 100%;
					border: 3px solid $themeYellow;
					height: 40px;
					
					::placeholder {
					color: $themeLightBlue;
					}
				}
			}
			button {
				display: inline-block;
				width: 25%;
				height: 40px;
				background-color: $themeYellow;
				color: white;
				font-weight: bold;

				@include mobile {
					width: 35%;
				}
			}
		}

	}
}
