.container-fluid {
	height: 100%;
	min-height: 500px;
    background-image: url("https://s3.amazonaws.com/edusaga/assets/images/index/bg.png");
    background-size: 120% 120%;
}

.miriContainer {
	height: 100%;
	img {
		height: 100%;
		position: absolute;
	}
}

.loginFormContainer {
	top: 50%;
	height: 50%;
	text-align: center;
}