.container-fluid {
	height: 100%;
	min-height: 500px;
    overflow: scroll;
    background-color: #3D6673;

    div {
    	h2 {
    		color: white;
    	}
    }
    .menuTitle {
    	text-align: center;
    	padding: 30px;
    	padding-bottom: 10px;
    	color: lightgray;
    	font-size: 45px;
    }
    .btn-add-episodes {
    	display: block;
    	margin: auto;
    }
}

.menuHeader {
	height: 200px;
    background-image: url("https://s3.amazonaws.com/edusaga/assets/images/index/header.png");
    background-size: 100% 100%;
}

.episodeTopicWrapper {
	border-bottom: 1px solid lightblue;
	min-height: 300px;
	padding: 1em;
}

.headerWrapper {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.sideBarWrapper {
	width: 30%;
	background-color: #3D6673;
	color: white;
	border-right: 1px solid lightblue;
	height: 100%;
	position: absolute;
}

.scenarioList {
	width: 70%;
	display: inline-block;
	text-align: center;
	.activeScene-true {
		background-color: yellow;
	}

	.iconWrapper {
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: 2em;
		.characterImage {
			width: 100%;
			border: 5px solid lightblue;
			border-radius: 50px;
			&:hover {
				background-color: lightblue;
			}
		}
	}

	.episodeBlockWrapper {
		display: inline-block;
		position: relative;
	}

	.episodeBlock {
		position: relative;
		opacity: 0.8;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 315px;
		height: 350px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 40px;
		padding: 10px;
		border-radius: 20px;
		background-color: lightBlue;

		h3 {
			text-align: left;
			margin-right: 15px;
		}
		/*
		.characterImage {
			position: absolute;
			width: 60px;
			height: 60px;
			right: -30px;
			top: -25px;
			background-color: lightBlue;
			border-radius: 75px;
			border-right: 2px solid black;
			border-top: 2px solid black;
		}*/

		&:hover {
			opacity: 1.0;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			border: 2px solid black;
		}
		p, div {
			color: black;
			text-align: left;
			font-size: 14px;
			line-height: 21px;

		}

		li {
			text-align: left;
			margin-left: 16px;
			list-style-type: circle;
		}
	}
	a {
		border-bottom: none;
	}
	.buttonLine {
		position: absolute;
		bottom: 3.5em;
		left: 2.5em;
	}

	.btn {
		line-height: 18px;
		margin-right: 0.5em;
	}
}

.buttonSeeMore {
	display: block;
	margin: auto;
	padding: 10px;
	margin-bottom: 20px;
}
