.container-fluid {
	height: 100%;
	min-height: 500px;
    background-image: url("https://s3.amazonaws.com/edusaga/assets/images/index/bg.png");
    background-size: 120% 120%;
    overflow: scroll;
}


.scenarioList {
	width: 100%;
	.activeScene-true {
		background-color: yellow;
	}
	.episodeBlock {
		position: relative;
		opacity: 0.8;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 300px;
		height: 300px;
		margin-right: 20px;
		margin-bottom: 20px;
		padding: 10px;
		border-radius: 20px;
		background-color: lightBlue;
		overflow: scroll;
		img {
			position: absolute;
			width: 75px;
			height: 75px;
			left: -25px;
			top: -25px;
		}
		&:hover {
			opacity: 1.0;
		}
		p, div {
			color: black;
			text-align: left;
			font-size: 14px;

		}

		li {
			text-align: left;
			margin-left: 16px;
		}
	}
}