.container-fluid {
	height: 100%;
	min-height: 500px;
    overflow: scroll;
    background-color: #3D6673;

    div {
    	h2 {
    		color: white;
    	}
    }
    .menuTitle {
    	text-align: center;
    	padding: 30px;
    	padding-bottom: 10px;
    	color: lightgray;
    	font-size: 45px;
    }
}

.menuHeader {
	height: 200px;
    background-image: url("https://s3.amazonaws.com/edusaga/assets/images/index/header.png");
    background-size: 100% 100%;
}

.scenarioList {
	width: 100%;
	text-align: center;
	.activeScene-true {
		background-color: yellow;
	}
	.episodeBlock {
		position: relative;
		opacity: 0.8;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 315px;
		height: 315px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 40px;
		padding: 10px;
		border-radius: 20px;
		background-color: lightBlue;

		// Position for Active Star when needed
		/*
		img {
			position: absolute;
			width: 75px;
			height: 75px;
			left: -25px;
			top: -25px;
		}
		*/
		h3 {
			text-align: left;
			margin-right: 15px;
		}
		.characterImage {
			position: absolute;
			width: 60px;
			height: 60px;
			right: -30px;
			top: -25px;
			background-color: lightBlue;
			border-radius: 75px;
			border-right: 2px solid black;
			border-top: 2px solid black;
		}

		&:hover {
			opacity: 1.0;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			border: 2px solid black;
		}
		p, div {
			color: black;
			text-align: left;
			font-size: 14px;
			line-height: 21px;

		}

		li {
			text-align: left;
			margin-left: 16px;
			list-style-type: circle;
		}
	}
	a {
		border-bottom: none;
	}
}

.buttonSeeMore {
	display: block;
	margin: auto;
	padding: 10px;
	margin-bottom: 20px;
}