@keyframes slideFromLeft {
	0% {left :-20em}
	100% {left: 0em}
}

.container-fluid {
	height: 100%;
	min-height: 500px;
    overflow: scroll;
    background-color: #3D6673;

    div {
    	h2 {
    		color: white;
    	}
    }
    .menuTitle {
    	text-align: center;
    	padding: 30px;
    	padding-bottom: 10px;
    	color: lightgray;
    	font-size: 45px;
    }
    .btn-add-episodes {
    	display: block;
    	margin: auto;
    }
}

.menuHeader {
	height: 200px;
    background-image: url("https://s3.amazonaws.com/edusaga/assets/images/index/header.png");
    background-size: 100% 100%;
}

.episodeTopicWrapper {
	border-bottom: 1px solid lightblue;
	min-height: 400px;
	padding: 1em;
}

.headerWrapper {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.sideBarWrapper {
	line-height: 1.2em;
	width: 33%;
	background-color: #696969;
	color: white;
	height: 100%;
	padding: 1em;
	position: absolute;
	left : 0em;
	animation-name: slideFromLeft;
	animation-duration: 0.7s;

	.characterImage {
		max-width: 60%;
		max-height: 40%;
		border-radius: 100px;
		margin: auto;
		display: block;
	}
	div {
		margin-bottom: 1em;
	}
	p {
		font-size: 1em;
	}
	ul {
		list-style-type: circle;
		padding-left: 1em;
	}
}

.scenarioList {
	width: 70%;
	display: inline-block;
	text-align: center;
	margin-bottom: 5em;
	.activeScene-true {
		background-color: yellow;
	}

	.iconWrapper {
		width: 150px;
		vertical-align: top;
		display: inline-block;
		margin: 1.5em;
		.characterImage {
			width: 100%;
			border: 5px solid lightblue;
			border-radius: 100px;
			margin-bottom: 1em;
			&:hover {
				background-color: lightblue;
			}
		}
		p {
			line-height: 1em;
			text-decoration: none;
			color: white;
			text-align: center;
		}
	}

	.episodeBlockWrapper {
		display: inline-block;
		position: relative;
	}

	.episodeBlock {
		position: relative;
		opacity: 0.8;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		width: 315px;
		height: 350px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 40px;
		padding: 10px;
		border-radius: 20px;
		background-color: lightBlue;

		h3 {
			text-align: left;
			margin-right: 15px;
		}

		&:hover {
			opacity: 1.0;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			border: 2px solid black;
		}
		p, div {
			color: black;
			text-align: left;
			font-size: 14px;
			line-height: 21px;
		}

		li {
			text-align: left;
			margin-left: 16px;
			list-style-type: circle;
		}
	}
	a {
		border-bottom: none;
	}
	.buttonLine {
		position: absolute;
		bottom: 3.5em;
		left: 2.5em;
	}

	.btn {
		line-height: 18px;
		margin-right: 0.5em;
	}
}

.buttonSeeMore {
	display: block;
	margin: auto;
	padding: 10px;
	margin-bottom: 20px;
}
