.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.taskIconImage-enter {
  opacity: 0.01;
}

.taskIconImage-enter.taskIconImage-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.taskIconImage-leave {
  opacity: 1;
}

.taskIconImage-leave.taskIconImage-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms linear;
}

.taskIconImage-appear.taskIconImage-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}