<html>
<head>
	<title>EduSaga - Speech</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/icons.css">
	<link rel="stylesheet" href="static/css/index.css">
	<link rel="stylesheet" href="static/css/tutorial.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script></head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</head>
<body>
	<!--
	<div class="navbarTop col-md-12"><h3>Characters</h3>
		<ul class="charList nav nav-pills">
		</ul>
	</div>
	!-->

<div class="gameWrapper col-md-12 col-sm-12 col-xs-12">
	<img class="sceneBG" src="../static/images/bg/shanghaiAirport.jpg">
	<!-- Main Scene !-->
	<div class="characterDialogueDiv hidden col-md-12 col-sm-12 col-xs-12">
		<div class="friendBanner">
		</div>
		<div class="playerMenuWrapper">
			<span class="glyphicon glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			<span class="glyphicon glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>

		</div>
		<div class="responseNameWrapper col-md-8 col-sm-8 col-xs-8">
			<div class="characterNameDiv">???
			</div>
			<div class="characterTextResponse">
			</div>
		</div>
	</div>
	<div class="sceneWrapper col-md-12 col-sm-12 col-xs-12">
		<div class="characterDiv hidden col-md-4">
			<div class="characterImageDiv"></div>
		</div>
		<!--
		<div class="characterDialogue"></div>
		<button class="btn btn-info respondButton"><span class="icon-mic"><br></span>Speak</button>
		!-->
		<!-- Feedback !-->
		<div class="feedback hidden">
			<div class="feedbackImageWrapper">
			</div>
			<div class="feedbackDiv">
				I heard you say: <br>
				<span class="feedbackText"></span>
			</div>
		</div>
	</div>

	<!-- Task List !-->
	<div class="combinedTaskList hidden col-md-6 col-sm-6 col-xs-6">
		<ul class="taskList col-md-11 col-sm-11 col-xs-11 nav nav-pills nav-stacked">
		</ul>
		<ul class="completedTaskList col-md-12 col-sm-12 col-xs-12 hidden nav nav-pills nav-stacked">
		</ul>
		<button type="button" class="btn-skip btn btn-danger">Skip Current Questions</button>
		<h4><a class="feedbackForm" target="_blank" href="http://goo.gl/forms/B7DG9Zjlnu45m56j1" style="margin-top: 5px"><h4>Feedback Survey</a></h4>
	</div>

	<!-- Tutorial related HTML !-->
	<div class="tutorialWindow hidden">
		<h3 class="tutorialHeader"></h3>
		<p class="tutorialText"></p>
		<button class="btn btn-success btn-confirm">Next</button>
		<button class="btn btn-danger btn-endTutorial">End Tutorial</button>
	</div>

	<!-- Scenario Intro Related Div. Pops up at beginning of scene !-->
	<div class="scenarioWindow hidden">
		<div class="roboWrapper">
		</div>
		<div class="scenarioTextWrapper">
			<h3 class="scenarioHeader"></h3>
			<p class="scenarioText"></p>
			<button class="btn btn-success btn-confirm">Got it!</button>
		</div>
		<!--<button class="btn btn-info btn-tutorial">Tutorial</button>!-->
	</div>

	<!-- Bottom navigation Bar. !-->
	<div class ="bottomNavBar">
		<div class="row-fluid">
			<div class="buttonLine">
				<button class="btn btn-info">30%</button>
				<p class="locationText">Airport 飞机场</p>
			</div>
		</div>
	</div>
	
	<!-- Robo Help Related Modal Window !--> 
	<div class="helpWindow hidden">
		<div class="roboImageWrapper">
			<img class="roboImage" src="../static/images/robo/roboDefault.png">
			<img class="roboSpeakIcon" src="../static/images/robo/roboSpeakIcon.png">
		</div>
		<div class="roboHelpTextWrapper example-right">
			<div class="header">
				<h3>ROBO</h3>
				<span class="glyphicon glyphicon-remove closeHelp" aria-hidden="true"></span>
			</div>
			<p>Maybe you could say...</p>
			<p class="helpText">你好</p>

		</div>

	</div>

</div>

	<!-- Scripts !-->
		<script>var demoLanguage = "{{ name }}"</script>
		<script src="static/js/viewHelper.js"></script>
		<!--<script src="static/js/tutorial.js"></script>!-->
		<script src="static/js/questionAsker.js"></script>
	<!-- Google Analytics !-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-78617015-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<script>
		try {
			var SpeechRecognition = webkitSpeechRecognition;
			var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
			var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent;
		} catch(err) {
			var scenarioWindow = $(".scenarioWindow");
			var roboWrapper = $(".roboWrapper");
			scenarioTextWrapper = $(".scenarioTextWrapper");
			scenarioWindow.removeClass("hidden");
			// roboWrapper.html('<img src="' + IMAGE_BASE_PATH + 'robo/roboDefault.png">');
			scenarioTextWrapper.children(".scenarioHeader").html("Sorry!");
			scenarioTextWrapper.children(".scenarioText").html("Sorry, EduSaga currently only supports Google Chrome on desktop or laptops (no mobile). Please switch over to Google Chrome for speech recognition access.");
			scenarioTextWrapper.children(".btn-confirm").hide();
		}
	</script>
</body>

</html>