<html>
<head>
	<title>EduSaga - Create and Share Interactive Speaking Activities using Speech Recognition</title>
	<meta name="description" content="EduSaga enables world language educators to create and share interactive speaking activities.">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/icons.css">
	<link rel="stylesheet" href="static/css/landingPage.css">
	<link rel="stylesheet" href="static/css/tutorial.css">

	<script src="static/js/smooth-scroll.min.js"></script>
	<script src="static/js/jquery-3.0.0.min.js"></script>
	<!--
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script></head>
	!-->


</head>
<body>
	<div class="landingScreen verticalCenter col-xs-12 col-sm-12 col-lg-12">
		<!-- <button class="btn btn-login">LOGIN</button> !-->
		<div class="tryDemo">
			<p>Try Demo</p>
			<span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span>

		</div>
		<div class="landingScreenContainer">
			<h2>EDUSAGA</h2>
			<p>Enbaling world language educators to create and share interactive speaking activities</p>
			<a data-scroll href="#signup"><button class="btn btn-signup">SIGN UP</button></a>
		</div>
	</div>

	<!-- Demo Div !-->
	<div class="demoScreen verticalCenter col-xs-12 col-sm-12 col-lg-12">
		<div class="demoContainer">
			<div class="demoHeader">
				<h3>DAVID</h3>
				<p>Hello there!</p>
			</div>
			<div class="demoCharContainer">
				<img src="./static/images/davidDefault.png">
			</div>
			<div class="micWrapper">
				<div id="mic" class="micTextPair"><span class='icon-mic'></span></div>
				<div id="text" class="micTextPair">Press the mic button and say "Hi"</div>
			</div>
		</div>
		<div class="nextArrow">
			<span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</div>
	</div>

	<!-- Features Div !-->

	<div class="featuresScreen col-xs-12 col-sm-12 col-lg-12">
		<h3>Try Interactive Activities Created by EduSaga</h3>
		<div class ="feature">
			<div class="featureImage">
				<img src="static/images/index/demoTina.png">
			</div>
			<div class="featureText">
				<h4>Ordering at a Fast Food Restaurant</h4>
				<p>Ask about what the restaurant has, the price of different foods, and finally order something at this fast food restaurant scenario.</p>
				<p>Key Phrases: 你有没有...? 几块钱?, 来一个／我要一个</p> 
			</div>
		</div>
		<div class ="feature">
			<div class="featureText">
				<h4>Meeting a New Friend</h4>
				<p>In this scene, you meet David, someone who you met at the airport and who will be attending a Chinese langauge program with you. You want to learn as much about him as possible.</p>
				<p>Key Phrases: 你是哪里人, 你几岁, 你属什么, 你喜欢...? </p>
			</diV>
			<div class="featureImage">
				<img src="static/images/index/demoDavid.png">
			</div>
		</div>
		<div class ="feature">
			<div class="featureImage">
				<img src="static/images/index/demoLinda.png">
			</div>
			<div class="featureText">
				<h4>Asking about Family Members</h4>
				<p>You and Linda have just met</h3>
			</diV>
		</div>
		<!--
		<a data-scroll href="#signup"><button class="btn btn-signup-lg">SIGN UP</button></a>
		<div class="nextArrow">
			<span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</div>	
		!-->
	</div>

	<!-- Activities Div linking to specific demo examples !-->
	<!--
	<div class="activityScreen col-xs-12 col-sm-12 col-lg-12">
		<div class="activityWrapper">
			<h2>Ordering at a Restaurant</h2>
			<div class="activityContent">
				<div class="textButtonWrapper">
					<p>Ordering food at a restaurant might require asking </p>
					<button class="btn btn-info">Click to Open</button>
				</div>
			</div>
			<div class="activityImageWrapper">
				<img src="static/images/davidDefault.png">
			</div>
		</div>
	</div>
	!-->


	<!-- Testimonials !-->
	<!--
	<div class="testimonyScreen verticalCenter col-xs-12 col-sm-12 col-lg-12">
		<div class="testimonyWrapper">
			<h2>Teacher Testimonials</h2>
			<div class="testimony testimonyLeft">
				<div class="portrait"></div>
				<p class="comment">EduSaga is so much better than sliced bread that I don't even buy sliced bread anyomre. Now I only eat bagels</p>
				<div class="author">
					<p class="name">Who knows</p>
					<p class="location">Cherry Hill High School East</p>
				</div>
			</div>
			<div class="testimony testimonyRight">
				<div class="portrait"></div>
				<p class="comment">I'm too lazy to wrap this text around the ellipse headshot right now btu that is what should happen in CSS</p>
				<p class="author">Cool Teacher 123</p>
			</div>
		</div>
	</div>
	!-->

	<!-- Sign up Page !-->
	<div class="signupScreen verticalCenter col-xs-12 col-sm-12 col-lg-12">
		<div class="signupWrapper">
			<h3>SIGN UP <span> TO HEAR MORE. </span></h3>
			<div class="signupText">
				<p>We'll be launching in September 2016. If you're interested in staying in the loop or becoming an early beta tester of the product, please subscribe below and you'll be the first to know when stuff happens</p>
			</div>
				<form class="form-inline">
				  <div class="form-group">
				    <input type="email" class="form-control" id="signup" placeholder="learnlanguages@example.com">
				  </div>
				  <button type="submit" class="btn btn-default">Enter</button>
				</form>	
		</div>
	</div>

	<!-- Scripts !-->
	<script>
		smoothScroll.init();
	</script>
	<script src="./static/js/index.js"></script>



</body>

</html>