<html>
<head>
	<title>EduSaga - Create and Share Immersive Speaking Activities using Speech Recognition</title>
	<meta name="description" content="EduSaga enables world language educators to create and share interactive speaking activities.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/icons.css">
	<link rel="stylesheet" href="static/css/landingPage.css">
	<link rel="stylesheet" href="static/css/tutorial.css">
	<link rel="stylesheet" href="static/css/index.css">

	<script src="static/js/smooth-scroll.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script>


</head>
<body>
	<div class="landingScreen verticalCenterIndex col-xs-12 col-sm-12 col-lg-12">
		<!-- <button class="btn btn-login">LOGIN</button> !-->
		<div class="tryDemo">
			<p>Try Demo</p>
			<span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span>
		</div>
		<div class="landingScreenContainer">
			<h2>EDUSAGA</h2>
			<p>Enabling world language educators to create and share immersive speaking activities</p>
			<a data-scroll href="#signup"><button class="btn btn-signup">SIGN UP</button></a>
		</div>
	</div>

	<!-- Demo Div !-->
	<div class="demoScreen verticalCenterIndex col-xs-12 col-sm-12 col-lg-12">
		<div class="demoContainer gameWrapper col-md-12 col-sm-12 col-xs-12">
			<!-- Main Scene !-->
			<div class="characterDialogueDiv hidden col-md-12 col-sm-12 col-xs-12">
				<div class="friendBanner">
				</div>
				<!--
				<div class="playerMenuWrapper">
					<span class="glyphicon glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
					<span class="glyphicon glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>

				</div>
				!-->
				<div class="responseNameWrapper col-md-8 col-sm-8 col-xs-8">
					<div class="characterNameDiv">???
					</div>
					<div class="characterTextResponse" style="font-size: 1.7vw">
						Click the mic and say "Nǐ hǎo"! Or click the question mark for a hint on how to pronounce it.
					</div>
				</div>
			</div>
			<div class="sceneWrapper col-md-12 col-sm-12 col-xs-12">
				<div class="characterDiv hidden col-md-4">
					<div class="characterImageDiv"></div>
				</div>
				<!--
				<div class="characterDialogue"></div>
				<button class="btn btn-info respondButton"><span class="icon-mic"><br></span>Speak</button>
				!-->
				<!-- Feedback !-->
				<div class="feedback hidden"></div>
			</div>

			<!-- Task List !-->
			<div class="combinedTaskList hidden col-md-6 col-sm-6 col-xs-6">
				<ul class="taskList col-md-11 col-sm-11 col-xs-11 nav nav-pills nav-stacked">
				</ul>
				<ul class="completedTaskList col-md-12 col-sm-12 col-xs-12 hidden nav nav-pills nav-stacked">
				</ul>
			</div>

			<!-- Tutorial related HTML !-->
			<div class="tutorialWindow hidden">
				<h3 class="tutorialHeader"></h3>
				<p class="tutorialText"></p>
				<button class="btn btn-success btn-confirm">Next</button>
				<button class="btn btn-danger btn-endTutorial">End Tutorial</button>
			</div>

			<!-- Scenario Intro Related Div. Pops up at beginning of scene !-->
			<div class="scenarioWindow hidden">
				<h3 class="scenarioHeader"></h3>
				<p class="scenarioText"></p>
				<button class="btn btn-success btn-confirm">Got it!</button>
				<!--<button class="btn btn-info btn-tutorial">Tutorial</button>!-->
			</div>

			<!-- Bottom navigation Bar. !-->
			<div class ="bottomNavBar">
				<div class="row-fluid">
					<div class="buttonLine">
						<button class="btn btn-info"></button>
						<p class="locationText">Classroom 教室</p>
					</div>
				</div>
			</div>

			<!-- Help Related Modal Window !-->

			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog contact">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Robot Helper</h4>
			      </div>
			      <div class="modal-body">

		   		  </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>

		</div>
	</div>

	<!-- Features Div !-->

	<div class="featuresScreen col-xs-12 col-sm-12 col-lg-12">
		<h3>Speaking Activities!</h3>
		<div class ="feature">
			<div class="featureImage">
				<a href="demoChinese3" target="_blank"><img src="static/images/index/demoTina.png"></a>
			</div>
			<div class="featureText">
				<div class="textWrapper">
					<h3>Ordering at a Fast Food Restaurant</h3>
					<p><span>Scenario:</span> Ask about what the restaurant has, the price of different foods, and finally order something at this fast food restaurant scenario.</p>
					<p><span>Key Phrases:</span> 你有没有...? 几块钱?, 来一个／我要一个</p>
				</div>
				<div class="buttonWrapper">
					<a href="demoChinese3" target="_blank" class="btn btn-tryDemo">Start</a>
				</div>
			</div>
		</div>
		<div class ="feature">
			<div class="featureImage">
				<a href="demoChinese" target="_blank"><img src="static/images/index/demoDavid.png"></a>
			</div>
			<div class="featureText">
				<div class="textWrapper">
					<h3>Meeting a New Friend</h3>
					<p><span>Scenario:</span> In this scene, you meet David, someone who you met at the airport and who will be attending a Chinese langauge program with you. You want to learn as much about him as possible.</p>
					<p><span>Key Phrases:</span> 你是哪里人, 你几岁, 你属什么, 你喜欢...? </p>
				</div>
				<div class="buttonWrapper">
					<a href="demoChinese3" target="_blank" class="btn btn-tryDemo">Start</a>
				</div>
			</diV>
		</div>
		<div class ="feature">
			<div class="featureImage">
				<a href="demoChinese2" target="_blank"><img src="static/images/index/demoLinda.png"></a>
			</div>
			<div class="featureText">
				<div class="textWrapper">
					<h3>Asking about Family Members</h3>
					<p><span>Scenario:</span> You and Linda have just met and you're curious to learn more about her family.</p>
					<p><span>Key Phrases:</span> 你家有几口人?, 你的妈妈是哪里人?, 你的爸爸几岁?</p>
				</div>
				<div class="buttonWrapper">
					<a href="demoChinese3" target="_blank" class="btn btn-tryDemo">Start</a>
				</div>
			</div>
		</div>

		<a data-scroll href="#signup"><button class="btn btn-signup-lg">CREATE YOUR OWN</button></a>
	</div>

	<!-- Activities Div linking to specific demo examples !-->
	<!--
	<div class="activityScreen col-xs-12 col-sm-12 col-lg-12">
		<div class="activityWrapper">
			<h2>Ordering at a Restaurant</h2>
			<div class="activityContent">
				<div class="textButtonWrapper">
					<p>Ordering food at a restaurant might require asking </p>
					<button class="btn btn-info">Click to Open</button>
				</div>
			</div>
			<div class="activityImageWrapper">
				<img src="static/images/davidDefault.png">
			</div>
		</div>
	</div>
	!-->

	<!-- Testimonials !-->
	<!--
	<div class="testimonyScreen verticalCenter col-xs-12 col-sm-12 col-lg-12">
		<div class="testimonyWrapper">
			<h2>Teacher Testimonials</h2>
			<div class="testimony testimonyLeft">
				<div class="portrait"></div>
				<p class="comment">EduSaga is so much better than sliced bread that I don't even buy sliced bread anyomre. Now I only eat bagels</p>
				<div class="author">
					<p class="name">Who knows</p>
					<p class="location">Cherry Hill High School East</p>
				</div>
			</div>
			<div class="testimony testimonyRight">
				<div class="portrait"></div>
				<p class="comment">I'm too lazy to wrap this text around the ellipse headshot right now btu that is what should happen in CSS</p>
				<p class="author">Cool Teacher 123</p>
			</div>
		</div>
	</div>
	!-->

	<!-- Sign up Page !-->
	<div class="signupScreen col-xs-12 col-sm-12 col-lg-12">
		<div class="signupWrapper">
			<h3>SIGN UP <span> TO HEAR MORE. </span></h3>
			<div class="signupText">
				<p>We're not quite ready yet, but we'll be launching in September 2016. If you're interested in becoming an early beta user of EduSaga or staying updated on our progress, please subscribe.</p>
			</div>
			<form class="form-inline" action="//edusaga.us12.list-manage.com/subscribe/post?u=c9886f4cfd614ff3de96ca574&amp;id=b0c654a125" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> 
				<div class="form-group" id="mc_embed_signup_scroll">  
					<input type="email" class="form-control" id="signup" placeholder="learnlanguages@example.com" value="" name="EMAIL" class="email" id="mce-EMAIL" required>  
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c9886f4cfd614ff3de96ca574_b0c654a125" tabindex="-1" value=""></div>
				</div>
				<button type="submit" class="btn btn-default" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
            </form>
            <div class="contact">
            	<p>Or contact us at: <a href="mailto:info@edusaga.com"><u>info@edusaga.com</u></a> for more info!</p>
            </div>
		</div>
	</div>
	<div class="footer">
	</div>

	<!-- Scripts !-->
	<script>
		smoothScroll.init();
	</script>
	<script>var demoLanguage = "{{ name }}"</script>

	<script src="static/js/viewHelper.js"></script>
	<!--<script src="static/js/tutorial.js"></script>!-->
	<script src="static/js/questionAsker.js"></script>


</body>

</html>